.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .todo-item:hover {
    background-color: #495057;
  }
  
  .todo-item-actions button {
    margin-right: 5px;
  }
  
  .todo-item-actions button:hover {
    background-color: #adb5bd;
    color: #212529;
  }
  