* {
    background-color: rgb(247, 245, 245);
}
div {
    /* max-width: 50%; */
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img {
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

/* button {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: max-content;
}

button:hover {
    background-color: #45a049;
} */
