body {
    background-color: #0f1B21;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.container {
    /* border:  1px solid white; */
    width: 500px;
    height: 550px;
    text-align: center;
    align-items: center;

}

.reset {
    width: 75px;
    height: 25px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    border-style: none;


}

.boxes {
    width: 100px;
    height: 100px;
    background-color: #1f3540;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    align-items: center;
    width: 100%;
    height: auto;

}

.cross-icon {
    margin-top: 15px;
}

.circle-icon {
    width: 80px;
    margin-top: 10px;

}