h2 {
  color: black;
}
h3 {
  margin-top: 20px;
  color: black;
  text-align: center;
}
.hooksButton {
  margin-top: 10px;
  margin-left: 180px;
  margin-bottom: 20px;
}
.hooksDiv {
  text-align: center;
  margin: 20px;
}
.hooksInput {
  padding: 8px;
  margin: 8px;
  width: 200px;
}
.hooksPara{
  font-size: 18px;
  margin-left: 100px;
  color:black;
}
pre{
  color:black;
}
