* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;

}

.app-container {
    width: 100%;
    border: 1px solid black;
    height: auto;
    display: flex;
}

.left-side {
    width: 70%;
    border: 1px solid black;
}

.right-side {
    width: 30%;
    height: 700px;
    border: 1px solid black;
}

.todo-form {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pop-up {
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
}


#search {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
}

#add-btn {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.today-list {
    border: 1px solid black;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.one-task {
    width: 600px;
    height: 60px;
    border-radius: 5px;
    /* border: 1px solid black; */
    margin-right: 48px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;

}

.one-task h3 {
    margin-left: 10px;
}

.todo-list {
    border: 1px solid black;
    width: 100%;
    height: 700px;
    padding: 5px;
    /* background-color: aqua; */
}

.user-info {
    border: 1px solidn black;
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.list {
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

#nav {
    width: 100%;
    border: 1px solid black;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

#nav p {
    cursor: pointer;
}

.task-list {
    border: 1px solid black;
    height: 500px;
    padding: 10px 5px 5px 5px;

}

.tasks {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.overlay {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.popup {
    position: fixed;
    top: 20%;
    left: 30%;
    background: white;
    padding: 10px;
    width: 350px;
    height: 400px;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 5px;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: auto;
    padding: 10px 10px 0px 20px;

}

.popup .popup-content button {
    /* margin: 20px 0px 0px 440px;   */
    font-size: 20px;
    color: red;
    cursor: pointer;
    border-style: none;
    background-color: white;
}

.form {
    /* border: 1px solid black; */
    margin: 20px 0px 0px 0px;
}

.form-group {
    margin: 15px 10px 15px 50px;

}

#task-Name {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
    text-align: center;
}

#description {
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.form-group label {
    font-size: 15px;
}

#mySelect {
    margin-left: 20px;
    width: 70px;
    height: 23px;
}

#date {
    margin-left: 7px;
    width: 95px;
}

.btn {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin: 20px 5px 5px 5px;
    border-style: none;
    border: 1px solid black;

}

#cancel {
    margin-left: 80px;
}