body {
  background-color: #1f1e1e;
  color: white;
  position: absolute;
  top: 3%;
  left: 22%;
}

h1 {
  text-align: center;
}
.div-wrapper {
  background-color: #353434;
  padding: 30px;
  width: fit-content;
  margin: 40px;
  max-height: 80vh;
  overflow-y: auto;
}
.todo-wrapper {
  margin-bottom: 25px;
  display: flex;
  margin-bottom: underline;
  flex-direction: row;
}
.todo-wrapper::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #e7dfdf;
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-input-item label {
  margin-bottom: 10px;
  font-weight: bold;
}

.todo-input-item input {
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 260px;
}
.todo-input-item input[type="time"],
.todo-input-item input[type="date"] {
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 8px;
  width: 150px;
}
.todo-input-item select {
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 90px;
}

.todo-input-item input:focus {
  outline: 2px solid rgb(0, 230, 122);
}

.primaryBtn {
  background-color: rgb(0, 230, 122);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  margin-top: 30px;
  padding: 9px;
  width: 80px;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: rgb(4, 192, 104);
}

.secondaryBtn {
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active {
  background-color: rgb(4, 192, 104);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}
.btn-area {
  margin-bottom: 10px;
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.todo-list-div{
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgb(39, 38, 38);
}
.listDiv{
  display:block;
}

.todo-list-item p {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(179, 178, 178);
}
.todoh3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0px;
  text-align: left;
}
.flexTodo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexTodo p{
  margin-top: 8px;
  font-size: 14px;
  color: rgb(179, 178, 178);
}
.ulh3 {
  font-size: 15px;
  color: rgb(179, 225, 204);
  font-weight: bold;
  margin: 0px;
  text-align: left;
}
.list{
  margin-left:40px;
}
.flexTodoPara{
  display: flex;
  flex-direction: row;
}
.flexPara{
  font-size:12px;
  color: rgb(179, 178, 178);
}
.priority{
  margin-left:10px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding-top: 10px;
  margin-bottom:8px;
}
.edit-icon {
  font-size: 20px;
  cursor: pointer;
  color: rgb(4, 192, 104);
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom:6px;
}
.sub-task-icon {
  font-size: 20px;
  cursor: pointer;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom:6px;
}
.check-icon {
  font-size: 20px;
  cursor: pointer;
  color: rgb(0, 230, 122);
  margin-left: 10px;
  margin-bottom: 5px;
}
.inputBox{
  margin-left: 10px;
  font-size:15px;
}
.inputBox:checked + label {
  color: rgb(0, 230, 122);
}

.error-message {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 5px;
}
.dateDiv{
  margin-top: -5px;
}