.ticTacContainer {
    text-align: center;
  }
 
  .title {
    margin-top: 50px;
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
  }
 
  .reset {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 30px;
    margin-left: 210px;
    margin-bottom: 50px;
    transition: background 0.3s;
  }
 
  .boxes {
    display: flex;
    height: 80px;
    width: 90px;
    background: #1f3540;
    border: 2px solid #0f1b21;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
  }
 
  .boxes:hover {
    background: #0f1b21;
  }
 
  .boxes img {
    margin: 1rem;
  }
   
  .board {
    height: 280px;
    width: 564px;
    display: flex;
    margin: 40px 0px 0px 120px;
    padding-left: 150px;
  }
 
  .result{
    color: black;
    font-size: 32px;
    margin-left: 210px;
    margin-top:20px;
  }

  .reactHead span {
    color: #26ffcb;
    margin-left: 1rem;
  }

  .winningImg img {
    height: 30px;
  }